@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 10px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #292922;
  background-color: #f0f0f0;
  text-rendering: optimizeLegibility;
}
h1,h2, h3, h4 ,h5, h6 {
  color: #616161;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 82vw;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
}
.logo {
  font-weight: 300;
}
.logo-part {
  font-weight: 700;
  color: #4a00e0;
}
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
nav ul li {
  padding-left: 50px;
}
nav ul a {
  color: #322f32;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px;
}
a.nav-name {
  color: #616161;
  padding: 10px;
  border: 1px solid transparent;
}
.skills:hover, .hobbies:hover, .socials:hover {
  border-bottom: 2px solid;
}
.socials {
  color: #4a00e0;
}
.main-content {
  min-height: 20vh;
}
.header {
  min-height: 58vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
header h1 {
  max-width: 58vw;
  margin: 0;
  font-size: 2.85rem;
  line-height: 3.8rem;
}
.header-text {
  font-weight: 700;
  color: #4a00e0;
}
.header-text-border {
  padding-bottom: 5px;
  background: linear-gradient(to right, #4a00e0 0%, #8e2de2 100%);
  background-size:100% 4px;
  background-position:bottom 0 left 0,bottom 5px left 0;
  background-repeat:no-repeat;
  /*border-bottom: 5px solid transparent;*/
  /*border-image-source: linear-gradient(to right, #4a00e0 0%, #8e2de2 100%);*/
  /*border-image-slice: 1*/
}
.me-text {
  color: #616161;
  font-size: 1.2rem;
  margin: 40px 0;
}
.card-container {
  margin: 70px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  width: 150px;
  border: 1px solid #818cab;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  flex: 1 auto;
  padding: 10px;
  box-shadow: 0.2rem 0.2rem #818cab;
  color: #292922;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.card-header {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 10px;
}
.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-html:hover,.card-html:focus {
  background-color: #E34F26;
  color: #ffffff;
  box-shadow: 0.1rem 0.1rem #818cab;
  border-color: #818cab;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(5px,5px,0);
  transform: translate3d(5px,5px,0);
}
.card-css:hover,.card-css:focus {
  background-color: #1572B6;
  color: #ffffff;
  box-shadow: 0.1rem 0.1rem #818cab;
  border-color: #818cab;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(4px,4px,0);
  transform: translate3d(4px,4px,0);
}
.card-bs:hover,.card-bs:focus {
  background-color: #563D7C;
  color: #ffffff;
  box-shadow: 0.1rem 0.1rem #818cab;
  border-color: #818cab;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(4px,4px,0);
  transform: translate3d(4px,4px,0);
}
.card-js:hover,.card-js:focus {
  background-color: #F7DF1E;
  color: #ffffff;
  box-shadow: 0.1rem 0.1rem #818cab;
  border-color: #818cab;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(4px,4px,0);
  transform: translate3d(4px,4px,0);
}
.card:hover {
  box-shadow: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.main-description {
  font-size: 13px;
  text-align: center;
  padding: 15px 0;
}
.hobby-container {
  margin: 70px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card-hobby {
  width: 400px;
  height: 300px;
  margin: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  flex: 1 auto;
}
.hobby-main {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: flex;
  justify-content: center;
}
.hobby-text {
  font-size: 1.65rem;
  color: #ffffff;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}
.hobby-img-1 {
  background-image: url("/img/travel.jpg");
}
.hobby-img-2 {
  background-image: url("/img/bike.jpg");
}
.hobby-img-3 {
  background-image: url("/img/computer.jpg");
}
.card-hobby:hover .hobby-main,
.card-hobby:focus .hobby-main {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
hr {
  width: 10%;
  margin: 0 auto;
  border-top: 2px solid #818cab;
}
.footer-main {
  margin-top: 70px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links a {
  color: #322f32;
  font-weight: 300;
  text-decoration: none;
  font-size: 1rem;
  margin: auto 20px;
  text-transform: uppercase;
}

