@media all and (max-width: 965px) {
    .container {
        max-width: 90vw;
        padding: 16px 0;
    }

    header h1 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        max-width: 100vw;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    nav {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

}

@media all and (max-width: 401px) {
    .links-container {
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }

    .links-container > li {
        flex: 1;
        margin: 10px 0;
    }

    .header {
        min-height: 45vh;
    }

    header h1 {
        font-size: 1.2rem;
        line-height: 2rem;
        max-width: 100vw;
    }

    .me-text {
        font-size: 1rem;
    }
    nav ul li {
        padding-left: 0;
    }
    .hobby-text {
        font-size: 1.2rem;
    }
}

