@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    margin-top: 20px;
}

.quadratic {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadratic input {
    margin: 0 .25rem;
    max-width: 30px;
    border: 1px solid #eee;
    border-bottom: 3px solid;
    border-radius: 5px;
    transition: border-bottom-color .5s ease-out;
    text-align: center;
}

.quadratic input:required {
    border-bottom-color: palegreen;
}
.quadratic input:invalid {
    border-bottom-color: salmon;
}

input[type=number]:focus {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button.button {
    padding: 0.8em 3em;
    background: #F15C5C;
    color: #FFF;
    border: 0;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}